.carousel-wrapper {
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  gap: 1rem;
  width: 100%;
}

.book-card {
  flex: 0 0 auto;
  width: 180px;
  text-align: center;
}