body,html {
  background-color: #f8e5c3;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
  
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.book-page {
  top: 40%;
  left: 20%;
  transform: translate(-100%, -20%);
  height: 500px;
  width: 400px;
  padding: 20px;
  z-index: 10;
  text-align: left;
}
.description {
  width: 800px;
  text-align: left;
}
.book-tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* space between buttons */
}
.book-tags li {
  margin: 0;
}
.book-tags button {
  padding: 6px 12px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.book-tags button:hover {
  background-color: #357abd;
}
